{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}MVE</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">


        <script src="{% static 'scripts/main.js' %}"></script>

     
    </head>

    <body>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>MVE</strong></a>
        
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        
            <div class="navbar-menu" id="main-navbar">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <form method="get" action="{% url 'product:search' %}">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input" placeholder="Search..." name="query">
                                </div>
                                <div class="control">
                                    <button class="button is-dark is-uppercase">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="navbar-end">
                    {% for category in menu_categories %}
                        <a href="{% url 'product:category' category.slug %}" class="navbar-item">{{ category.title }}</a>
                    {% endfor %}

                    <a href="{% url 'main:contact' %}" class="navbar-item">Contact</a>

                    <div class="navbar-item">
                        <a href="{% url 'cart:cart' %}" class="button is-dark">Cart{% if cart %} ({{ cart|length }}){% endif %}</a>
                    </div>

                    {% if request.user.is_authenticated %}

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-capitalized">
                        {{user.vendor.name}}
                        </a>
    
                        <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'vendor:vendor-admin' %}">
                            Profile
                        </a>
                        <a class="navbar-item" href="{% url 'vendor:edit-vendor' %}">
                            Update Profile
                        </a>
                        <a class="navbar-item" href="{% url 'vendor:add-product' %}">
                            Add Product
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'vendor:logout' %}">
                            Logout
                        </a>
                        </div>
                    </div>
    
                    {% else %}
    
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{% url 'vendor:become-vendor' %}">
                                <strong>Become Vendor</strong>
                            </a>
                            <a class="button is-light" href="{% url 'vendor:login' %}">
                                Log in
                            </a>
                        </div>
                    </div>
    
                    {% endif %}
    
    
                    </div>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
        
        <footer class="footer">
            <h3 class="is-size-4 mb-4">MVE</h3>
        
            {% if request.user.is_authenticated %}
                <a class="button is-primary" href="{% url 'vendor:vendor-admin' %}">Vendor admin</a>
            {% else %}
                <a class="button is-primary" href="{% url 'vendor:become-vendor' %}">Become vendor</a>
            {% endif %}

            <a class="button is-primary" href="{% url 'vendor:vendors' %}">Vendors</a>
        </footer>
    

        {% block scripts %}
        {% endblock %}
    </body>
</html>